@import "variables.less";
@import "mixins.less";

.app-cases {
  background: @white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

// Toolbar
// -----
.toolbar {
  padding-top: 40px;
}
.batch-actions {
  button {
    display: inline-block;
    margin: 4px;
    padding: 4px 6px;
  }
  .input-all-selector {
    margin: 8px 12px;
  }
}
.refresh-actions {
  .btn-refresh {
    line-height: 12px;
    margin: 4px 6px;
    padding: 2px 20px;
  }
}
.dropdown-toggle-text {
  max-width: 70px;
  padding: 0;
  .text-overflow();
  vertical-align: top;
}
.pagination-actions {
  text-align: center;
  margin: 0;
  width: 140px;
  a {
    display: inline-block;
    padding: 10px;
    &:hover {
      background-color: @bodyBackground;
      text-decoration: none;
    }
  }
  .text {
    padding: 10px 1px;
  }
  .disabled {
    cursor: default;
    color: @grayLighter;
    &:hover {
      background-color: transparent;
      color: @grayLighter;
    }
  }
}
.sort-actions {
  float: right;
}

// Case List
// -----
.case-list-wrap {
  overflow: auto;
}
.case-item {
  .clearfix();
  list-style: none;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.case-list {
  font-size: 12px;
  margin: 0;
  padding: 0;
  .actions {
    .absolute-top-right(10px, 0);
    width: 120px;
    .btn {
      width: 100px;
    }
  }
  .comment {
    border-top: 1px solid @grayLight;
    padding: 4px 0 4px 20px;
  }
  .content {
    margin-left: (@gridColumnWidth + @gridGutterWidth) * 3 - @gridGutterWidth;
    margin-right: (@gridColumnWidth + @gridGutterWidth) * 8 - @gridGutterWidth;
    min-height: 80px;
    padding: 10px 0;
  }
  .init-post {
    margin-bottom: 6px;
  }
  .input-item-selector {
    left: 10px;
    position: absolute;
    top: 15px;
  }
  .meta {
    .absolute-top-right(10px, 120px);
    text-align: center;
    div {
      display: inline-block;
    }
    .agent {
      width: 65px;
    }
    .datetime {
      text-align: center;
      width: 140px;
    }
    .priority {
      margin-right: -16px;
    }
    .status {
      width: 65px;
    }
  }
  .pics {
    .absolute-top-left(10px, 35px);
    img {
      margin: 0 6px 0 0;
    }
  }
  .trim {
    height: 18px;
    .text-overflow();
  }
  .user-name {
    font-weight: bold;
    padding-right: 8px;
  }
}

.prioritys-small {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.prioritys-small > li {
  display: inline-block;
  float: left;
  list-style: none;
}
.prioritys-small > li > a {
  background: url(../images/icon-engage-posts.png) no-repeat 0 -44px;
  display: inline-block;
  outline: none;
  .square(16px);
  text-indent: -9999px;
  vertical-align: text-top;
}
.prioritys-small > .active > a {
  background-position: -22px -44px;
}