@import "variables.less";
@import "mixins.less";

.app-posts {
  background-color: @white;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.app-tabs {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding-top: 8px;
}
.app-tabs > li {
  margin-bottom: -1px;
}
.app-tabs > li > a {
  background-color: #fafafa;
  border: 1px solid transparent;
  border-color: @grayLighter @grayLighter #ddd;
  color: @grayLight;
  line-height: 20px;
  padding: 6px 35px;
  &:hover {
    background-color: @grayLighter;
    color: @gray;
  }
  i {
    padding-right: 6px;
  }
}
.app-tabs > .active > a,
.app-tabs > .active > a:hover {
  background-color: @white;
}

// Toolbar
// ----------------------------------------------

.toolbar {
  .clearfix();
  border-bottom: 1px solid #ddd;
}
.batch-actions {
  button {
    display: inline-block;
    margin: 7px 4px;
  }
  .input-all-selector {
    margin: 8px 12px;
  }
}
.refresh-actions,
.filter-actions,
.pagination-actions,
.sort-actions {
  margin: 0 10px;
  a:hover {
    background-color: @bodyBackground;
    text-decoration: none;
  }
  button {
    display: inline-block;
    margin: 7px 4px;
  }
  span {
    display: inline-block;
    padding: 10px 4px;
  }
}
.filter-actions {
  .nav {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .nav > li {
      display: inline-block;
  }
  .nav > li > a {
    padding: 10px 10px;
  }
}
.pagination-actions {
  text-align: center;
  width: 140px;
  a {
    display: inline-block;
    padding: 10px;
  }
  .disabled {
    cursor: default;
    &:hover {
      background-color: transparent;
      color: @linkColor;
    }
  }
}
.sort-actions {
  a {
    display: block;
    line-height: 22px;
    min-width: 24px;
    padding: 8px 13px;
    text-align: center;
  }
  .datetime {
    width: 114px;
  }
  .nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
  .nav > li {
    display: inline-block;
  }
}

// Post-list
// --------------------------------------------------

@leftMargin: (@gridColumnWidth + @gridGutterWidth) * 2;
@rightMargin: (-@gridGutterWidth) + (@gridColumnWidth + @gridGutterWidth) * 6;
.post-list-wrap {
  overflow: auto;
}
.post-list {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.post-item {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  list-style: none;
  overflow: hidden;
  position: relative;
  &:hover {
    background-color: @white;
  }
  .actions {
    right: 0;
    position: absolute;
    top: 15px;
    width: @leftMargin - @gridGutterWidth;
    button {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 6px;
      width: @leftMargin - @gridGutterWidth * 2;
    }
  }
  .comment {
    border-top: 1px solid @grayLight;
    padding: 4px 0 4px 20px;
  }
  .content {
    margin: 0 @rightMargin 0 @leftMargin;
    min-height: 80px;
    padding: 10px 20px 10px 0;
  }
  .init-post {
    margin-bottom: 6px;
  }
  .input-item-selector {
    left: 10px;
    position: absolute;
    top: 15px;
  }
  .meta {
    right: 161px;
    position: absolute;
    top: 15px;
    .count {
      display: inline-block;
      padding-top: 12px;
      text-align: center;
      vertical-align: top;
      width: 50px;
    }
    .datetime {
      display: inline-block;
      text-align: center;
      width: 140px;
      p {
        margin: 0 0 3px;
      }
    }
  }
  .trim {
    height: 18px;
    .text-overflow();
  }
  .type {
    background-color: @grayLighter;
    height: 50px;
    left: 35px;
    position: absolute;
    top: 10px;
    width: 50px;
  }
  .user-pic {
    left: 100px;
    position: absolute;
    top: 10px;
  }
  .user-name {
    font-weight: bold;
    padding: 0 8px 0 0;
  }
}
