@import "variables.less";
@import "mixins.less";

.app-post {
  height: 100%;
  width: 100%;
}

.tab-app-header {
  .tab-style(0, ~'4px 0 0 0');
  border-bottom: 1px solid @grayLight;
  li {
    margin-right: 2px;
  }
  a {
    background-color: @grayLighter;
    color: @grayLight;
    display: block;
    line-height: 20px;
    padding: 6px 35px;
  }
  .active a {
    background-color: @white;
  }
  .active a,
  a:hover {
    color: @gray;
    text-decoration: none;
  }
  i {
    padding-right: 6px;
  }
}

.icon-facebook-s,
.icon-weibo-s,
.icon-twitter-s {
  display: inline-block;
  .size(20px, 20px);
  vertical-align: top;
  background-image: url(../images/icon-socialmedia.png);
  background-repeat: no-repeat;
  background-position-y: -100px;
}
.icon-facebook-s {
  background-position-x: -152px;
}
.icon-weibo-s {
  background-position-x: -38px;
}
.icon-twitter-s {
  background-position-x: -76px;
}