@import "variables.less";
@import "mixins.less";

.app-post {
  height: 100%;
  width: 100%;
}

.tab-app-header {
  .tab-style(0, ~'4px 0 0 0');
  border-bottom: 1px solid @grayLight;
  li {
  }
  a {
    background-color: @grayLighter;
    display: block;
    line-height: 20px;
    padding: 6px 40px;
  }
  .active a,
  a:hover {
    background-color: @white;
    text-decoration: none;
  }
  i {
    padding-right: 6px;
  }
}

.icon-facebook,
.icon-weibo,
.icon-twitter {
  display: inline-block;
  .size(20px, 20px);
  vertical-align: top;
  background-repeat: no-repeat;
}
.icon-facebook {
  background-image: url(../images/icon-facebook-20x20.png);
}
.icon-weibo {
  background-image: url(../images/icon-weibo-20x20.png);
}
.icon-twitter {
  background-image: url(../images/icon-twitter-20x20.png);
}