@import "variables.less";
@import "mixins.less";

@caseBoxBackground: #d2d2d2;
@panelPadding: 12px;

.app-case {
  background-color: @bodyBackground;
  font-size: 12px;
  button,
  input,
  label,
  select,
  textarea {
    font-size: 12px;
  }
  .form-actions {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 2px 0;
    text-align: right;
    button {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.app-case-modal {
  // background-color: transparent;
  // border: 4px solid transparent;
  // .box-shadow(0 0px 18px rgba(0,0,0,0.4));
  background: url(../images/lightbox-bg.png) no-repeat;
  border: 0;
  .box-shadow(0 0 0 rgba(0,0,0,0.4));
  margin-left: -465px;
  margin-top: -245px;
  width: 930px;
  .container {
    width: 890px;
  }
  .span6 {
    width: 432px;
  }
  .modal-body {
    max-height: 450px;
    overflow: hidden;
    padding: 20px;
  }
  .modal-header {
    padding: 0;
    border: 0;
    .close {
      .absolute-top-right(5px, 15px);
      background: url(../images/icon-engage-posts.png) no-repeat 0 -65px;
      border: 0;
      display: inline-block;
      .square(32px);
      text-indent: -9999px;
    }
  }
  .modal-inner {
    //background-color: @bodyBackground;
    //.border-radius(6px);
  }
  .form-horizontal .control-label {
    width: 110px;
  }
  .form-horizontal .controls {
    margin-left: 130px;
  }
}

.post-info {
  @assetPicWidth: 50px;
  @assetPicMargin: round(@assetPicWidth * 0.25);
  background-color: @caseBoxBackground;
  padding: 6px 0;
  position: relative;
  .asset-pic {
    .absolute-top-left(round(-@assetPicWidth * 0.15), @assetPicMargin);
    img {
      border: 1px solid @grayLighter;
    }
    .social-media {
      .absolute-bottom-right(-8px, 5px);
    }
  }
  .content {
    border-top: 1px solid @grayLight;
    font-size: 11px;
    margin: 0 6px 0 @assetPicWidth + @assetPicMargin * 2;
    padding: 8px 0;
    .text-overflow();
  }
  .user {
    margin-left: @assetPicWidth + @assetPicMargin * 2;
    padding-bottom: 12px;
  }
  .user-pic {
    display: inline-block;
  }
  .user-name {
    display: inline-block;
  }
}

.case-tabs {
  margin-bottom: 0;
}
.case-tabs > li > a {
  padding-top: 4px;
  padding-bottom: 4px; 
}
.case-tabs > .active > a,
.case-tabs > .active > a:hover {
  background-color: @caseBoxBackground;
}

.case-wrap {
  .reponse-wrap,
  .memo-wrap {
    background-color: @caseBoxBackground;
    margin: 6px 0 0;
    padding: @panelPadding;
    textarea {
      .box-sizing(border-box);
      height: 64px;
      width: 100%;
    }
    .btn {
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }
  .reponse-wrap .tips {
    float: left;
  }
  .tab-pane {
    background-color: @caseBoxBackground;
  }
}
.case-form {
  @boxWidth: (@gridColumnWidth + @gridGutterWidth) * 6 - @gridGutterWidth;
  border-right: 1px solid #bbb;
  .box-shadow(1px 0 0 rgba(255, 255, 255, 0.6));
  margin-right: 120px;
  padding: @panelPadding;
  position: relative;
  input,
  textarea,
  .create-response {
    .box-sizing(border-box);
    width: 100%;
  }
  input {
    height: 28px;
  }
  label {
    display: inline-block;
  }
  .field {
    padding: 4px 0 6px;
  }
  .control-actions {
    .absolute-top-left(@panelPadding, 100%);
    padding-left: 8px;
    text-align: left;
    width: 110px;
    .btn {
      padding: 4px 0;
      margin: 2px 0;
      width: 105px;
    }
  }
  .form-horizontal {
    .control-label {
      width: 80px;
    }
    .control-group {
      margin-bottom: 9px;
    }
    .controls {
      margin-left: 100px;
    }
  }
  .status {
    display: inline-block;
    padding-top: 5px;
  }
}

.prioritys {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.prioritys > li {
  display: inline-block;
  float: left;
  list-style: none;
}
.prioritys > li > a {
  background: url(../images/icon-flags.png) no-repeat -50px 0;
  display: inline-block;
  outline: none;
  .square(25px);
  text-indent: -9999px;
  vertical-align: text-top;
}
.prioritys > .active > a,
.prioritys > li > a:hover {
  background-position: 0 0;
}

.case-details > .nav-tabs {
  margin-top: 0;
}
.case-details > .nav-tabs > li > a {
  background-color: #fcfcfc;
  border-color: #ddd;
}
.case-details > .nav-tabs > li > a:hover {
  background-color: @white;
}
.case-details > .nav-tabs > .active > a,
.case-details > .nav-tabs > .active > a:hover {
  background-color: @caseBoxBackground;
  border-color: #ddd #ddd transparent;
}
.case-details > .tab-content > .tab-pane {
  background-color: @caseBoxBackground;
  height: 410px;
  overflow: hidden;
}

.conversation-wrap {
  padding: @panelPadding;
  .toolbar {
    border-bottom: 1px solid @grayLight;
    margin: 0;
    padding: 0 6px;
    text-align: right;
    li {
      display: inline-block;
      list-style: none;
    }
    a {
      display: block;
      padding: 6px 10px;
      &:hover {
        background-color: @bodyBackground;
        text-decoration: none
      }
    }
  }
}
.case-history-wrap {
  padding: @panelPadding;
}
.conversation,
.case-history {
  background-color: @white;
  .border-radius(6px);
  .box-shadow(0 1px 2px rgba(0,0,0,.25));
}
.conversation {
  font-size: 11px;
  .post {
    padding: 6px 0;
    position: relative;
    .content,
    .meta {
      margin: 6px 6px 6px 80px;
    }
    .user-pic {
      .absolute-top-left(6px, 15px);
    }
  }

  .comments {
    padding: 0 6px 0 80px;
    overflow: auto;
    ul {
      margin: 0;
      padding: 0;
    }
  }
  .comment {
    background-color: @bodyBackground;
    list-style: none;
    margin-bottom: 3px;
    position: relative;
    .content {
      margin-left: 60px;
      padding-top: 4px;
    }
    .meta {
      margin: 4px 0 0 60px;
    }
    .user-pic {
      .absolute-top-left(5px, 5px);
    }
  }
  .meta {
    border-top: 1px solid @grayLight;
    line-height: 22px;
    text-align: right;
    i {
      vertical-align: middle;
    }
    .count {
      padding: 3px 6px;
    }
  }
  .user-name {
    font-weight: bold;
    padding-right: 6px;
  }
}
.conversation-inner {
  overflow: auto;
  height: 355px;
}

.case-history {
  font-size: 11px;
  height: 360px;
  margin: 0;
  overflow: auto;
  padding: @panelPadding 0 @panelPadding @panelPadding;
  li {
    list-style: none;
    padding: 4px 0;
  }
  .user-name {
    font-weight: bold;
    padding: 0 6px;
  }
}
.no-case-history {
  padding: @panelPadding;
}
.no-case-history-info {
  .border-radius(10px);
  .box-shadow(0 1px 4px rgba(0,0,0,.25));
  padding: 140px 0;
  text-align: center;
}

.social-profile-wrap {
  padding: @panelPadding;
  input {
    .box-sizing(border-box);
    height: 28px;
    width: 100%;
  }
  .basic-contact {
    margin-bottom: 10px;
  }
  .control-group {
    margin-bottom: 9px;
  }
  .nav-tabs {
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 6px;
    a {
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }
  .tab-content {
    overflow: visible;
  }
  .tab-pane {
    background-color: @white;
    padding: 10px;
    .border-bottom-left-radius(6px);
    .border-bottom-right-radius(6px);
    .box-shadow(0 1px 3px rgba(0,0,0,.3));
  }
}