@import "variables.less";
@import "mixins.less";

.app-post {
  height: 100%;
  width: 100%;
}

.app-tabs {
  border-bottom: 1px solid #ddd;
}
.app-tabs > li {
  margin-bottom: -1px;
}
.app-tabs > li > a {
  background-color: #fafafa;
  border: 1px solid transparent;
  border-color: @grayLighter @grayLighter #ddd;
  color: @grayLight;
  line-height: 20px;
  padding: 6px 35px;
  &:hover {
    background-color: @grayLighter;
    color: @gray;
  }
  i {
    padding-right: 6px;
  }
}
.app-tabs > .active > a,
.app-tabs > .active > a:hover {
  background-color: @white;
}

.icon-facebook-s,
.icon-weibo-s,
.icon-twitter-s {
  display: inline-block;
  .size(20px, 20px);
  vertical-align: top;
  background-image: url(../images/icon-socialmedia.png);
  background-repeat: no-repeat;
  background-position-y: -100px;
}
.icon-facebook-s {
  background-position-x: -152px;
}
.icon-weibo-s {
  background-position-x: -38px;
}
.icon-twitter-s {
  background-position-x: -76px;
}