// ICONS
// -----

.icon-facebook-s,
.icon-weibo-s,
.icon-twitter-s {
  display: inline-block;
  .size(20px, 20px);
  vertical-align: top;
  background-image: url(../images/icon-socialmedia.png);
  background-repeat: no-repeat;
}
.icon-facebook-s {
  background-position: -152px -100px;
}
.icon-weibo-s {
  background-position: -38px -100px;
}
.icon-twitter-s {
  background-position: -76px -100px;
}

.icon-like,
.icon-comment,
.icon-share {
  display: inline-block;
  height: 22px;
  text-indent: -9999px;
  width: 24px;
}
.icon-like {
  background: url(../images/icon-social-engage.png) no-repeat -107px -7px;
}
.icon-comment {
  background: url(../images/icon-social-engage.png) no-repeat -131px -7px;
}
.icon-share {
  background: url(../images/icon-social-engage.png) no-repeat -156px -7px;
}